/* primary font color 
#757575 */
/* secondary font color #212121 */
/* primary backgroung color 
#FFFFFF */
/* secondary backgroung color #F5F4FA */
/* actionable item #2196F3 */
:root{
    --primary-text-color:#757575;
    --title-text-colour:#212121;
    --accent-colour:#2196F3;
  

background: #FFFFFF;
}
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
    width: 1600px;
    height: 2349px;
    background: #FFFFFF;
}
/* header */
.header{
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    
    }
.site-nav{
display: flex;
list-style: none;
margin: 32px 853px 32px 453px;
    
    }
  
.contacts-list{
    list-style: none;
}    
.tell{
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;
    
    }
.tell:hover{
    color: var(--accent-colour);
}    
.mail{
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.mail:hover{
    color: var(--accent-colour);
}

.logo-web{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.logo-studio{
    color: #000000;
}
.page{
background-color:#FFFFFF ;
color: var(--primary-text-color)
}

.list{
    list-style: none;
}
/* site-nav */
.site-nav .link {
    color: var(--title-text-colour);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500px;
    
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-colour);
    
    
}
.site-nav .link.current{
    color: var(--accent-colour);
 
}
.link{
    padding-inline-start: 50px;
}


/* hero title */
.hero{
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}
.hero-title{
font-family: 'Roboto';
position: absolute;

font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 280px;
margin-top: 200px;
margin-left: 452px;
margin-right: 452px;
}


.button{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: #FFFFFF;
position: absolute;
background-color: var(--accent-colour);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
margin-top: -95px;
border: none;
}


/* section-title */
.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
.title-paragraph{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
/* benefits */

.benefits section .feature-list{
position: absolute;
width: 1170px;
height: 101px;
left: 215px;
top: 774px;
display: flex;

}
.feature-list{
    list-style: none;
    margin: 0px 30px;
    
}
.paragraph{
    margin-inline-end: 30px;
    padding-inline-end: 10px;
}

.feature-list-container{
    margin: 0px 30px;  
}
/* occupation */
.occupation{
position: absolute;
width: 1170px;
height: 386px;
left: 215px;
top: 969px;
margin-top:-94px;
}
.section-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
    padding-top: 94px;
    padding-bottom: 50px;
    color: #212121;

}
.personal-box{
    background: #FFFFFF;
    margin-inline-start: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.web-design-photo{
    padding-left: 50px;
    padding-right: 50px;
}
.photo-flex{
    display: flex;
    list-style: none;
    padding-left: 0%;
    margin: 0px;
}
/* features */
.feature-list .title{
    color: var(--title-text-colour) ;
}
.feature-list{
display: block;
box-sizing: border-box;    
padding-left: 0%;
width: 1170px;
height: 101px;
left: 215px;
top: 774px;  
margin: 0px; 
}
.feature-list-container{


}
/* our team */
.section-title-team{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-top: 94px;
padding-bottom: 50px;
margin: 0px;
}
.user-name{
color: var(--title-text-colour) ;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.position{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.our-team{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: #F5F4FA;   
}
.team-mates{
    display: flex;
    list-style: none;
    margin-top: 186px;
    margin-bottom: 94px;
    margin-left: 215px;
    margin-right: 215px;
    margin: 0px auto;
    margin-left: 185px;
    padding-left: 0px;

    
}

/* footer */
.footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;  
}
/* PORTFOLIO */
.buttons{
    position: absolute;
width: 611px;
height: 54px;
left: 495px;
top: 174px;
    display: flex;
    list-style: none;
margin: 0px;
padding-top: -94px;
}
.button-position{
padding-inline-end: 8px;    
}    
.button-style:hover{
background-color: #2196F3;
color: #FFFFFF;
}
.button-style{
    background: #F5F4FA;
    border-radius: 4px;
    padding-inline-end: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
border: none;
text-align: center;
letter-spacing: 0.03em;
padding: 6px 22px 6px 22px;
color: #212121;
white-space: nowrap;
}
.main-content{
    display: flex;
flex-wrap: wrap;
}
.content-item{
width: 30%;
height: 404px;
left: 215px;
top: 262px;
list-style: none;
}
.portfolio-footer{
position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;    
}
.mail-footer{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.main-portfolio{
position: absolute;
width: 1170px;
height: 1360px;
left: 215px;
top: 174px;

}
.footer{

}
.footer-nav{
list-style: none;
text-decoration: none;
width: 231px;
height: 81px;
left: 215px;
top: 2208px;
padding-left: 0;
}
.map{
width: 231px;
height: 21px;
left: 215px;
top: 2208px;
text-decoration: none;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;

}
.footer-contacts{
text-decoration: none;
width: 231px;
height: 21px;
left: 215px;
top: 2268px;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.logo-web-footer{    
width: 145px;
height: 31px;
left: 215px;
top: 2157px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
text-decoration: none;
letter-spacing: 0.03em;
color: #2196F3;
display: block ;
margin: 60px 1240px 20px 215px;
}

.logo-studio-footer{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.container-footer{
    margin:20px 1154px 60px 215px ;
    width: 231px;
    height: 81px;
    left: 215px;
    top: 2208px;
    display: block;
    padding: 0;
}
